  <div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @list.title %></h5>
      <p class="card-text"><%= @list.overview %></p>
      <p class="card-text"><%= @list.rating %></p>
      <a href="#" class="btn btn-primary"><%= @list.poster_url %></a>
    </div>
  </div>
</div>
