  <div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @list.title %></h5>
      <p class="card-text"><%= @list.overview %></p>
      <p class="card-text"><%= @list.rating %></p>
      <% if @list.poster_url.present? %>
        <%= image_tag @list.poster_url, class: "card-img-top" %>
      <% else %>
        <p>No poster available</p>
      <% end %>
    </div>
  </div>
</div>
